---
title: Home
description: Improving the safe and effective use of AI/ML for policy-making.
image: /images/home/original.jpeg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Algorithmic Governance Foundation</h1>
			<p class="subtext editable">Improving the safe and effective use of AI/ML for policy-making.</p>
			<div class="cta button alt"><a href="#">Contact</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Data and models for policy-making</h2>
				<p class="editable">A repository of data and models that can be used to make pivotal policy decisions, rated and benchmarked for safe implementation.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/home/data-server.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Model development alongside governments</h2>
				<p class="editable">Cooperation with low-resource governments and non-profits to implement algorithmic solutions where they matter most.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/home/data-science.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Research on algorithmic governance issues</h2>
				<p class="editable">Identifying and solving new problems with the use of algorithms in public sector decision-making.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/home/assessment.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Solve the world's problems more effectively with data</h2>
				<p class="subtext editable">Join our community to better leverage AI/ML for social good.</p>
				<div class="cta button alt"><a href="#">Contact</a></div>
			</div>
		</div>
	</section>
</div>
